@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
input {
  @apply outline-none
}
}

* {
  font-family: Montserrat, sans-serif  !important;
}

.navlink {
  @apply  opacity-[0.5] font-extrabold hover:opacity-[1] cursor-pointer transition-opacity ease-in-out duration-300
}



.navlink.active {
    @apply h-full flex items-center justify-center font-extrabold  relative after:content-[""] after:w-full after:h-[3px] after:absolute after:bottom-[-2px] after:left-0  after:bg-primary-light !opacity-[1] text-secondary
}

.headerBtn {
    @apply p-[8px] text-center rounded-full bg-secondary shadow-lg cursor-pointer active:scale-[0.9] transition-all text-[15px] text-text-color-dark font-extrabold hover:bg-text-color-dark hover:text-secondary hover:border-secondary hover:border-[1px]
}

.container {
  @apply p-10
}

.bar-of-progress {
  @apply z-[50]
}

.dPage {
  @apply bg-text-color-dark !h-[90vh] overflow-auto rounded-lg shadow-xl mr-[5px] p-[20px] pl-[30px]  mb-[10px] mt-[10px] w-full
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */::-webkit-scrollbar-track {
  background: #f1f1f1; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
      border-radius: 120px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.card {
  @apply h-[120px] w-[170px] relative cursor-pointer  rounded-xl  duration-200 ease-in-out

}

/* border-[5px] border-t-primary-light border-b-card-color border-l-card-two-dark border-r-card-four */